.titleDiv {
    border: 5px outset red;
    background-color: white;
    text-align: center;
}

.button {
    left: 30px;
    border: 2px outset red;
    color: black;
    padding: 25px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    margin: auto;
    width: 50%;
    cursor: pointer;
    background-color: white;
}
.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}